section.section
  .section-header
    h1 Información de ruta
    .section-header-button
      button.btn.btn-primary( (click)="this.showDialog('newNodo')" ) Insertar nueva venta
    .section-header-breadcrumb
      .breadcrumb-item
        a( (click)="this.setReturnPath()" )
          i.fas.fa-undo
          | Volver a las rutas

  .section-body( *ngIf='this.infoRoute != null' )
    app-panel-slize( *ngIf="this.infoRoute.negocios_id && this.infoRoute.negocios_id.length > 0" )
      app-statsRoute-general( [_ruta]="this.infoRoute" )
    h2.section-title {{ this.infoRoute.titleRoute }} - Creado en: {{ this.infoRoute.createdAt[0]+' '+this.infoRoute.createdAt[1]+' '+this.infoRoute.createdAt[2] }}
    .row
      .col-12
        .activities.clientList
          .activity(*ngFor='let item of this.infoRoute.negocios_id; let i = index')
            .activity-icon.bg-primary.text-white.shadow-primary
              //- i.fas.fa-comment-alt
              | {{ i + 1 }}
            .activity-detail
              .dataHeaderClient.mb-2
                span.text-job {{ item.createdAt[1]+' '+item.createdAt[2] }}
                span
                  i.fas.fa-calendar-check
                  | Cobro
                  span( *ngIf="item.concurrencia.tipo != 'Otro'" ) {{ item.concurrencia.tipo }}
                  span( *ngIf="item.concurrencia.tipo == 'Otro'" ) cada {{ item.concurrencia.concurrencia }} Días
                .float-right.dropdown
                  a(href="#", data-toggle="dropdown")
                    i.fas.fa-ellipsis-h
                  .dropdown-menu
                    .dropdown-title Opciones
                    a.dropdown-item.has-icon( (click)="this.showDialog('showDetails', item)" )
                      i.fas.fa-eye
                      |  Ver detalles
                    a.dropdown-item.has-icon( (click)="this.showDialog('showUpdate', item)" )
                      i.fas.fa-list
                      |  Modificar

                    .dropdown-divider
                    a.dropdown-item.has-icon.text-danger( (click)="this.showDialog('showDelete', item)" )
                      i.fas.fa-trash-alt
                      |  Eliminar
              div.infoventa.row
                .porcGanancia.col-md-12.col-lg-4
                  small.bold Valor de venta
                  br
                  span.ganancia {{ item.venta }}
                      i.fas.fa-dollar-sign
                .porcGanancia.col-md-12.col-lg-4
                  small.bold Interés
                  br
                  span.ganancia {{ item.interes }}
                      i.fas.fa-percent
                .porcGanancia.col-md-12.col-lg-4
                  small.bold Total
                  br
                  span.ganancia {{ item.total }}
                      i.fas.fa-dollar-sign

              div.infoventa.row
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Número de cuotas
                  br
                  span.ganancia {{ item.ncuotas }}
                      //- i.fas.fa-dollar-sign
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Valor por cuotas
                  br
                  span.ganancia {{ item.vcuotas }}
                      i.fas.fa-dollar-sign



              hr
              div.infoventa.datosventa.row
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Nombre y apellido
                  br
                  small {{ item.cliente_id.name+' '+item.cliente_id.last_name }}
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Edad
                  br
                  small {{ item.cliente_id.edad }}
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Identificación
                  br
                  small {{ item.cliente_id.card_id }}
                .porcGanancia.col-md-12.col-lg-6
                  small.bold Teléfono
                  br
                  small {{ item.cliente_id.phone }}
                .porcGanancia.col-md-12.col-lg-12
                  small.bold Domicilio de cobro
                  br
                  small {{ item.cliente_id.phone }}
              hr
              .infoventaFooter.row
                .asignado.col-md-12.col-lg-12
                  small.bold( *ngIf='item.cobrador_id != null' ) Asignado al cobrador:
                    a( [routerLink]="['/dashboard/usuario', item.cobrador_id._id ]", routerLinkActive="active" ) {{ item.cobrador_id.name+' '+item.cobrador_id.last_name }}
                  small.bold( *ngIf='item.cobrador_id == null' ) Sin cobrador designado









p-dialog( *ngIf="(this._sessionService.usuario.rolName === 'ENRUTATOR_ROLE')", header="Añadir nuevo venta", [(visible)]="this.newNodo", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
    app-add-new-nodo( *ngIf="this.newNodo == true" , [_ruta]="this.infoRoute" ,(success)="this.sucess($event)" ,(close)="this.closeDialog($event)" )

p-dialog( *ngIf="(this._sessionService.usuario.rolName === 'ENRUTATOR_ROLE')", header="Información de venta", [(visible)]="this.showDetails", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
    app-info-nodo( *ngIf="this.showDetails == true" , [_venta]="this._venta", [_ruta]="this.infoRoute" ,(success)="this.sucess($event)" ,(close)="this.closeDialog($event)" )
p-dialog( *ngIf="(this._sessionService.usuario.rolName === 'ENRUTATOR_ROLE')", header="Editar venta", [(visible)]="this.showUpdate", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
    app-edit-nodo( *ngIf="this.showUpdate == true" , [_venta]="this._venta", [_ruta]="this.infoRoute" ,(success)="this.sucess($event)" ,(close)="this.closeDialog($event)" )
p-dialog( *ngIf="(this._sessionService.usuario.rolName === 'ENRUTATOR_ROLE')", header="Eliminar venta", [(visible)]="this.showDelete", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
    app-delete-nodo( *ngIf="this.showDelete == true" , [_venta]="this._venta", [_ruta]="this.infoRoute" ,(success)="this.sucessDelete($event)" ,(close)="this.closeDialog($event)" )